@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
  font-weight: 300;
  font-family: 'Lato', Calibri, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #48a770;
  outline: none;
}

a:hover, a:focus {
  color: #2c774b;
  outline: none;
}

button {
  border: none;
  padding: 0.6em 1.2em;
  background: #388a5a;
  color: #fff;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  margin: 3px 2px;
  border-radius: 2px;
}

button:hover {
  background: #2c774b;
}

.guess_form {
  max-width: 350px;
  padding: 15px;
  margin: 150px auto;
}

.guess_form input {
  margin: 25px auto;
  padding: 25px 0;
  text-align: center;
  font-size: 20px;
}

.logo {
  width: 250px;
}

.message {
  margin: 20px auto;
}